.challengeCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #ffffff;
  box-shadow: 5px 10px 35px #00000029;
  min-height: 400px;
  padding: 10px;
  max-width: 300px;
  border-radius: 15px;
  color: #18558b;
  margin: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.challengeCard:hover {
  filter: saturate(200%);
  transform: scale(1.06);
  cursor: pointer;
}

.challengeCard__image {
  max-height: 150px;
  width: 100%;
  box-shadow: 5px 10px 35px #00000029;
  border-radius: 10px;
}

.challengeCard__title {
  margin-top: 20px;
  text-align: center;
}

.challengeCard__description {
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5;
  font-size: 14px;
}
