.during {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5f3ff;
}
.during__header {
  font-size: 30px;
  font-weight: 400;
  color: #18558b;
  padding-bottom: 10px;
  z-index: 2;
}
.during__description {
  max-width: 800px;
  text-align: left;
  color: #606060;
  letter-spacing: 1.8px;
  z-index: 2;
  padding: 10px;
}

.during__image {
  max-width: 90%;
}

.during__days {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.during__days__day {
  height: 150px;
  width: 150px;
  border: 3px solid #18558b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #18558b;
  text-decoration: none;
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}
