.staytuned {
  height: 800px;
  margin-top: 700px;
  background-color: #e5f3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.staytuned__header {
  font-size: 30px;
  font-weight: 400;
  color: #18558b;
  margin-bottom: 80px;
  padding-top: 150px;
  transition: all 0.5s;
}

.staytuned__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

@media (max-width: 999px) {
  .staytuned {
    height: 900px;
  }
}

@media (max-width: 540px) {
  .staytuned {
    height: 1000px;
  }
}

@media (max-width: 413px) {
  .staytuned {
    height: 1200px;
  }
}
