.timer {
  background-color: #ffffff;
  box-shadow: 0px 5px 25px #00000029;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 79%;
  margin: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.timer:hover {
  transition: all 0.5s;
  cursor: pointer;
  background-color: #e5f3ff;
}

.timer__glass {
  height: 60%;
  margin-right: 20px;
  padding: 30px 20px;
}
.timer__time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.timer__time--count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.timer__time--num {
  color: #18558b;
  font-size: 50px;
  font-weight: 500;
}

.timer__time--title {
  color: #55cb43;
}

@media (max-width: 668px) {
  .timer__glass {
    height: 20%;
  }
}
